
  <div class="form-field">
    <%= form_for @team do |f| %>
    <%= f.hidden_field :league_id, :value => params[:league_id]%>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-field">
    <%= f.fields_for :player_ids do |player_id|%>
      <% @positions.each do |pos_name, pos| %>
        <% find_num(pos) %>
        <%= player_id.label pos_name %>
        <%= player_id.collection_select(pos, Player.all.where(:position_id => @num).order(:name), :id, :name, prompt: true)%><br>
      <% end %>
    <% end %>
  </div>

  <h2>Mascot Info</h2>
  <div class="form-field">
    <%= f.fields_for :mascot_attributes do |mascot| %>
    <%= mascot.collection_select(:id, Mascot.all, :id, :name, prompt:"Select or make a new mascot")%><br><br>

    <%= mascot.label :name%>
    <%= mascot.text_field :name%><br>

    <%= mascot.label :color%>
    <%= mascot.text_field :color%><br>

    <%= mascot.label :motto%>
    <%= mascot.text_field :motto%><br>
    <% end %>
  </div>

  <%= f.submit "Submit", class: "submit-button"%>
  <% end %>
