<label class="title">New League!</label><br><br>
<%= form_for @league do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br><br>

  <label class="title">First Team</label><br><br>
  <%= f.fields_for :new_team, @team do |team| %>
    <%= team.label :name %>
    <%= team.text_field :name %><br>

    <%= team.fields_for :player_ids do |player_id|%>
      <%= player_id.label :quarter_back %>
      <%= player_id.collection_select(:qb, @qb, :id, :name)%><br>

      <%= player_id.label :runnning_back %>
      <%= player_id.collection_select(:rb, @rb, :id, :name)%><br>

      <%= player_id.label :wide_reciever %>
      <%= player_id.collection_select(:wr, @wr, :id, :name)%><br>

      <%= player_id.label :flex %>
      <%= player_id.collection_select(:flex, @flex, :id, :name)%><br>

      <%= player_id.label :tight_end %>
      <%= player_id.collection_select(:te, @te, :id, :name)%><br>
    <% end %><br><br>

    <label class="title">Motto Info</label><br><br>
    <%= team.fields_for :mascot_attributes, @team.mascot do |mascot| %>
      <%= mascot.label :name%>
      <%= mascot.text_field :name%><br>

      <%= mascot.label :color%>
      <%= mascot.text_field :color%><br>

      <%= mascot.label :motto%>
      <%= mascot.text_field :motto%><br>
    <% end %>
  <% end %><br><br>

  <%= f.submit %>
<% end %>
