<div class="form-container">
  <h2 class="form-title">New League!</h2>
  <div class="form-field">
    <%= form_for @league do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name%>
    <br>
  </div>
  <h2 class="form-title">First Team</h2>

  <div class="form-field">
    <%= f.fields_for @team do |t| %>
    <%= t.hidden_field :league_id, :value => params[:league_id]%>
    <%= t.label :name %>
    <%= t.text_field :name %>
  </div>

  <div class="form-field">
    <%= t.fields_for :player_ids do |player_id|%>
      <% @positions.each do |pos_name, pos| %>
        <% num= Position.find_by(:name => pos.to_s.upcase).id %>
        <%= player_id.label pos_name %>
        <%= player_id.collection_select(pos, Player.all.where(:position_id => num).order(:name), :id, :name, prompt: true)%><br>
      <% end %>
    <% end %>
  </div>

  <h2 class="form-title">Mascot Info</h2>
  <div class="form-field">
    <%= t.fields_for :mascot_attributes do |mascot| %>
    <%= mascot.collection_select(:id, Mascot.all, :id, :name, prompt:"Select or make a new mascot")%><br><br>

    <%= mascot.label :name%>
    <%= mascot.text_field :name%><br>

    <%= mascot.label :color%>
    <%= mascot.text_field :color%><br>

    <%= mascot.label :motto%>
    <%= mascot.text_field :motto%><br>
    <% end %>
  </div>
  <% end %>
  <%=f.submit "Submit", class:"submit-button"%>
  <!-- <%= form_tag league_path method="post" do%>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= submit_tag "Submit" %>
  <% end %>
     <input type="submit" value="submit">
  <%end%> -->
</div>
