<div class="form-container wide">
  <h2><%=@league.name%></h2>
  <div>
    <table id="player">
      <thead>
        <th>User</th>
        <th>Team Name</th>
        <th>Mascot</th>
        <th>Current Winner</th>
      </thead>
      <tbody>
        <% @league.teams.each do |team|%>
        <tr>
          <td><%=team.user.email%></td>
          <td><%=link_to team.name, league_team_path(@league, team)%></td>
          <td><%=team.mascot.name if !!team.mascot%></td>
          <td><%= 'X' if team == @league.current_winner%></td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>


  <div class="form-field kinda_wide">
    <% if !@league.full %>
      <%= link_to "Create a roster for league", new_league_team_path(@league), class:"submit-button"%>
    <% end %>
    <%if @league.owner == current_user%>
      <%= link_to 'Delete League', @league, method: :delete, data: { confirm: 'Are you sure??' }, class:"submit-button" %>
    <%end%>
  </div>
</div>
